
html, body{
    width:100%;
    height:100%; 
    margin:0px;
    padding:0px;
    background-color: chartreuse;
    font-family: /*'Times New Roman';*/ 'testecattive';
    font-size: 70px;
    
   
}

.contenitore{
    margin-top: inherit;
    
}





    
    


@font-face {
    font-family: 'testecattive';
    src: url ('testecattive-webfont.woff') format ('woff'),
        url ('testecattive.ttf') format ('truetype');
        
}


